/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
}

#header .banner {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#header .banner a {
    font-family: 'Audiowide', serif;
    color: #fff;
}

#header .banner a:hover {
    color: #2D4356;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #2D4356;
}

.navbar .joinus,
.navbar .joinus:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 3px solid #334D63;
    font-weight: 600;
    background: rgba(45, 67, 86, 0.42);
}

.navbar .joinus:hover,
.navbar .joinus:focus:hover {
    color: #fff;
    background: #2D4356;
}

.navbar .contest ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .contest ul li {
    min-width: 200px;
}

.navbar .contest ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}

.navbar .contest ul a i {
    font-size: 12px;
}

.navbar .contest ul a:hover,
.navbar .contest ul .active:hover,
.navbar .contest ul li:hover>a {
    color: #47b2e4;
}

.navbar .contest:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .contest .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .contest .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .contest .dropdown ul {
        left: -90%;
    }

    .navbar .contest .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #47b2e4;
}

.navbar-mobile .joinus,
.navbar-mobile .joinus:focus {
    margin: 15px;
    color: #37517e;
}

.navbar-mobile .contest ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .contest ul li {
    min-width: 200px;
}

.navbar-mobile .contest ul a {
    padding: 10px 20px;
}

.navbar-mobile .contest ul a i {
    font-size: 12px;
}

.navbar-mobile .contest ul a:hover,
.navbar-mobile .contest ul .active:hover,
.navbar-mobile .contest ul li:hover>a {
    color: #47b2e4;
}

.navbar-mobile .contest>.dropdown-active {
    display: block;
    visibility: visible !important;
}

/*--------------------------------------------------------------
# Front Section
--------------------------------------------------------------*/
#front {
    width: 100%;
    height: 80vh;
    background: #5A6E8C;
}

#front .container {
    padding-top: 72px;
    padding-left: 40px;
    padding-right: 40px;
}

#front .organization h1 {
    display: inline;
}

#front .organization a {
    font-family: 'Audiowide', serif;
    font-size: 80px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    display: inline;
    color: #2D4356;
}

#front .organization a:hover {
    color: #9db2bf;
    text-decoration: none;
}

#front h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#front h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#front .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #front {
        height: 100vh;
        text-align: center;
    }

    #front .animated {
        animation: none;
    }

    #front .logo-img {
        text-align: center;
    }

    #front .logo-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #front h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #front h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #front .logo-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #front .logo-img img {
        width: 80%;
    }

    #front .joinus {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# About US
--------------------------------------------------------------*/
#about {
    padding: 30px;
    font-size: 20px;
    background: #fff;
}

#about .section-title {
    text-align: start;
    padding-bottom: 0px;
}

#about .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #EF6262;
}

#about .section-title h2:after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background: #EF6262;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

#about p {
    text-align: center;
    margin-bottom: 0;
    font-size: 26px;
    color: #fff;
    background: #EF6262;
}

#about li {
    margin-bottom: 0;
    font-size: 18px;
    color: #6f6f6f;
}

/*--------------------------------------------------------------
# Members
--------------------------------------------------------------*/
#team {
    padding: 30px;
    font-size: 16px;
    background: #f8f7f7;
}

#team .section-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#team .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #F19F4D;
}

#team .section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #F19F4D;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#team p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#team .member {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

#team .member img {
    border-radius: 10px;
    overflow: hidden;
}

#team .member .member-content {
    padding: 0 20px 30px 20px;
}

#team .member h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
    color: #2D4356;
}

@media (max-width: 575px) {
    #team .member h4 {
        font-size: 18px;
    }
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 20px;
    color: #6c757d;
}

#team .member p {
    font-size: 16px;
    color: #6c757d;
}

#team .advisor {
    text-align: center;
    background: rgba(215, 215, 215, 0.53);
    border-radius: 10px;
    border: 1px solid rgba(108, 117, 125, 0.51);
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

#team .advisor p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*--------------------------------------------------------------
# Programs
--------------------------------------------------------------*/
#programs {
    padding: 30px 30px 50px 30px;
    font-size: 16px;
    background: #ffffff;
}

#programs .section-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#programs .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #4D8B75;
}

#programs .section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #4D8B75;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#programs .programs-flters {
    padding: 0 0 20px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

#programs .programs-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

#programs .programs-flters li:hover,
#programs .programs-flters li.filter-active {
    color: var(--color-primary);
}

#programs .programs-flters li:first-child {
    margin-left: 0;
}

#programs .programs-flters li:last-child {
    margin-right: 0;
}

@media (max-width: 575px) {
    #programs .programs-flters li {
        font-size: 14px;
        margin: 0 5px;
    }
}

#programs .programs-container {
    column-count: 4;
    column-gap: 20px;
}

@media (max-width: 991px) {
    #programs .programs-container {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    #programs .programs-container {
        column-count: 2;
    }
}

@media (max-width: 575px) {
    #programs .programs-container {
        column-count: 1;
    }
}

#programs .programs-item {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 20px;
}

#programs .programs-wrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#programs .programs-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

#programs .programs-wrap .programs-info {
    padding-top: 10px;
    padding-bottom: 3px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
}

#programs .programs-wrap .programs-info h4 {
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    color: var(--color-default);
    transition: 0.3s;
}

#programs .programs-wrap:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #677a96;
}

#footer .footer-joinus {
    padding: 50px 0;
    background: #dbe0e8;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-joinus h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #3F7F93;
}

#footer .footer-sns {
    padding: 0px 16px 0px 0px;
}

#footer .footer-sns-last {
    padding: 0px 0px 0px 0px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.btn-back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.btn-back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.btn-back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
}

.btn-back-to-top.active {
    visibility: visible;
    opacity: 1;
}
